<a href="https://colab.research.google.com/github/bedLad/ML-project/blob/main/diabetes_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing dependencies for the project

In [52]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

**PIMA Diabetes Dataset  -  Kaggle**

In [53]:
df = pd.read_csv("/content/diabetes.csv")

In [54]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [55]:
# getting the statistical measures of the data
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [56]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> Non-diabetic

1 -> Diabetic

In [57]:
df.groupby("Outcome").describe()

        Pregnancies                                                Glucose  \
              count      mean       std  min   25%  50%  75%   max   count
Outcome
0             500.0  3.298000  3.017185  0.0  1.00  2.0  5.0  13.0   500.0
1             268.0  4.865672  3.741239  0.0  1.75  4.0  8.0  17.0   268.0

                     ... DiabetesPedigreeFunction           Age             \
               mean  ...                      75%    max  count       mean
Outcome              ...
0        109.980000  ...                  0.56175  2.329  500.0  31.190000
1        141.257463  ...                  0.72800  2.420  268.0  37.067164


               std   min   25%   50%   75%   max
Outcome
0        11.667655  21.0  23.0  27.0  37.0  81.0
1        10.968254  21.0  28.0  36.0  44.0  70.0

[2 rows x 64 columns]

In [58]:
# seperating independent features & dependent var
X = df.drop(columns="Outcome", axis=1)
y = df["Outcome"]

Data Standardization

In [59]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [60]:
standardized_data = scaler.transform(X)
X = standardized_data

Splitting the data into training data and testing data

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

Training the model

In [62]:
classifier = svm.SVC(kernel="linear")

In [63]:
# training the SVM 
classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [64]:
pred = classifier.predict(X_train)
training_acc = accuracy_score(pred, y_train)
print(training_acc)

0.7866449511400652

In [66]:
input_data = (5,166,72,19,175,25.8,0.587,51)#9,102,76,37,0,32.9,0.665,46)
input = np.asarray(input_data)
input = input.reshape(1,-1)
std_data = scaler.transform(input)

test_pred = classifier.predict(std_data)
print(test_pred)

[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(